*.Rproj
*.Rhistory
.Rproj.user
*.pyc
*.csv
*.rda
data/*
README.html
R/Data/uacd/*
R/Data/saker/dagsorden*
R/Data/reps/*.xml
R/Data/moter/moter*
R/Data/seats/*.html
R/Data/dagsorden
R/Data/interpellations
R/Data/questions
R/Data/sak_filerefs/
R/Data/moter.csv
tmp*
