*.Rproj
*.Rhistory
.Rproj.user
*.pyc
*.csv
*.rda
*.html
*.xls
data/*
README.html
R/Scripts/secret_shortcut/*
R/Data/uacd/*
R/Data/saker/dagsorden*
R/Data/reps/*.xml
R/Data/moter/moter*
R/Data/seats/*.html
R/Data/dagsorden
R/Data/interpellations
R/Data/questions
R/Data/sak_filerefs/
R/Data/moter.csv
R/run_all_shell.R
tmp*
